h1 {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 5vw;
}

h2 {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 3vw;
}

h3 {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 2vw;
}

h4 {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 2vw;
}



.view:hover .image {
    opacity: 0.3;
}

.view:hover .middle {
    opacity: 1;
}

.carousel-control-next, .carousel-control-prev {
    opacity: 0;
}

.carousel-control-next:hover, .carousel-control-prev:hover {
    opacity: 1;
}

.carousel-indicators li{
    bottom:-50px;
    background-color: lightgray;
}

.carousel-indicators .active {
    background-color: #428bca;
}

.carousel-inner {
    margin-bottom:50px;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.text {
    color: black;
    font-size: 14px;
    padding: 16px 32px;
    font-family: 'Julius Sans One', sans-serif;
}

.info {
    text-align: center;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 14px;
}

.nav {
    font-size: 30px;
    margin-left: 3%;
}


